# dependencies
/node_modules
/template-demo/libs/
!/template-demo/libs/readme.md
/module-demo/libs/
!/module-demo/libs/readme.md

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
